// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Colors */  
/* ---------------------------------------- */ 
// Colours


.post {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}
.form{
  margin-top: 2%;
  font-size: 16px;
}

  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: #f7f6f5;
  color: darken(#f9f9f9, 50%);
}
  
.button {
    background-color: #666666;
    width: auto;
    float: right;
    color:#f7f6f5;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .button :hover{
    background-color:#2f2f2f;
  }


textarea {
  height: 10rem;
}




.notification h3{
  text-align: center;
}
.notification li{
  text-align: center;
  font-size: 20px;
}

.notification{
  padding-bottom: 1px;
}

